<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bottalino.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <Bottalino.Properties.Settings>
      <setting name="ftpHost" serializeAs="String">
        <value>192.168.1.1</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>anonimous</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="path" serializeAs="String">
        <value>/Lavorazioni/</value>
      </setting>
      <setting name="serverPath" serializeAs="String">
        <value />
      </setting>
    </Bottalino.Properties.Settings>
  </userSettings>
</configuration>